{% extends 'tokoapp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid barang_page">
    <div class="row">
        {% for barang in barangs %}
        <div class="col-3 barang_show">
            <div class="photo">
                <img src="{{barang.foto}}">
            </div>
            <p class="nama_barang">{{barang.nama_barang}}</p>
            <p>Rp {{barang.harga}}</p>
            <a href="{% url 'tokoapp:detail' barang.id%}">Lihat Detail</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}